.rc-compact {
  $root: &;

  &__swatch {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;

    &#{&}--active {
      #{$root}__dot {
        opacity: 1;
      }
    }
  }

  &__dot {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    opacity: 0;
  }
}
