@use '../SliderPointer/SliderPointer';
@use '../SliderSwatch/SliderSwatch';
@use '../SliderSwatches/SliderSwatches';
@use '../../../styles/theme-tokens' as theme;

.rc-slider {
  @include theme.rc-default-theme-tokens;

  &__hue {
    position: relative;
    height: 12px;
  }

  &__swatches-wrap {
    position: relative;
  }
}
