@use '../../../styles/theme-tokens' as theme;

.rc-raised {
  @include theme.rc-default-theme-tokens;

  position: relative;
  display: inline-block;
}

.rc-raised__bg {
  position: absolute;
  inset: 0;
}

.rc-raised__content {
  position: relative;
}
