@use '../../../styles/theme-tokens' as theme;

.rc-raised {
  @include theme.rc-default-theme-tokens;

  position: relative;
  display: inline-block;

  &__bg {
    position: absolute;
    inset: 0;
  }

  &__content {
    position: relative;
  }
}
