.rc-compact {
  &__fields {
    display: flex;
    padding-right: 5px;
    padding-bottom: 6px;
    position: relative;
    font-family: Arial, sans-serif;
    line-height: normal;
  }

  &__active {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 9px;
    height: 9px;
  }

  &__field {
    .rc-editable-input {
      position: relative;
    }

    &#{&}--hex {
      flex: 6;

      .rc-editable-input {
        &__input {
          width: 80%;
          height: 16px;
          padding: 0 0 0 20%;
          border: none;
          outline: none;
          background: none;
          font-size: 12px;
          color: var(--rc-picker-text, #333);
        }

        &__label {
          display: none;
        }
      }
    }

    &#{&}--rgb {
      flex: 3;

      .rc-editable-input {
        &__input {
          width: 70%;
          height: 16px;
          padding: 0 0 0 30%;
          border: none;
          outline: none;
          background: none;
          font-size: 12px;
          color: var(--rc-picker-text, #333);
        }

        &__label {
          position: absolute;
          top: 3px;
          left: 0;
          line-height: 16px;
          text-transform: uppercase;
          font-size: 12px;
          color: var(--rc-picker-text-subtle, #999);
        }
      }
    }
  }
}
