.rc-swatches {
  $root: &;

  &__swatch {
    width: 40px;
    height: 24px;
    margin-bottom: 1px;

    &#{&}--active {
      #{$root}__check {
        display: block;
      }
    }
  }

  &__check {
    display: none;
    margin-left: 8px;
  }
}
