.rc-alpha-control {
  position: absolute;
  inset: 0;

  &__checkboard {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  &__gradient {
    position: absolute;
    inset: 0;
  }

  &__container {
    position: relative;
    height: 100%;
    margin: 0 3px;
  }

  &__pointer {
    position: absolute;
  }

  &__slider {
    width: 4px;
    height: 8px;
    margin-top: 1px;
    background: var(--rc-picker-contrast-surface, #fff);
    border-radius: 1px;
    box-shadow: 0 0 2px var(--rc-picker-triangle-shadow, rgb(0 0 0 / 60%));
    transform: translateX(-2px);
  }
}
