.rc-circle__swatch {
  transform: scale(1);
  transition: transform 100ms ease;

  &:hover,
  &:focus-within,
  &#{&}--hover {
    transform: scale(1.2);
  }

  .rc-swatch {
    transition: box-shadow 100ms ease;
  }
}
