@use '../SwatchesColor/SwatchesColor';
@use '../SwatchesGroup/SwatchesGroup';

.rc-swatches__overflow {
  overflow-y: scroll;
}

.rc-swatches__body {
  padding: 16px 0 6px 16px;
}

.rc-swatches__clear {
  clear: both;
}
