@use '../SwatchesColor/SwatchesColor';
@use '../SwatchesGroup/SwatchesGroup';
@use '../../../styles/theme-tokens' as theme;

.rc-swatches {
  @include theme.rc-default-theme-tokens;
}

.rc-swatches__overflow {
  overflow-y: scroll;
}

.rc-swatches__body {
  padding: 16px 0 6px 16px;
}

.rc-swatches__clear {
  clear: both;
}
