@use '../SwatchesColor/SwatchesColor';
@use '../SwatchesGroup/SwatchesGroup';
@use '../../../styles/theme-tokens' as theme;

.rc-swatches {
  @include theme.rc-default-theme-tokens;

  &__overflow {
    overflow-y: scroll;
  }

  &__body {
    padding: 16px 0 6px 16px;
  }

  &__clear {
    clear: both;
  }
}
